<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
    <h1></h1>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "AboutUs", "Home")</li>
            <li>@Html.ActionLink("Gallary", "Gallary", "Home")</li>
            <li>@Html.ActionLink("Product", "Product", "Home")</li>
            <li>@Html.ActionLink("ContactUs", "ContactUs", "Home")</li>
        </ul>
    </nav>

    </header>

    <section id="content">
        <div>
            <img src="~/Images/untitled.png" />
        </div>
    </section>


            <div id="fixedfooter">
                <p style="text-align:center">
                    &copy; @DateTime.Now.Year-Created by NZS

                </p>
 
            </div>
    @RenderBody()
</body>
</html>
